.message-box:has(.system-message) {
  display: none !important;
}

.message-box.my-team .message-name,
.message-box.my-team .message,
.message-box.mine .message-name,
.message-box.mine .message {
  color: #00e5ff !important;
}

.message-box.other-team .message-name,
.message-box.other-team .message {
  color: #ff3b3b !important;
}

.message-name {
  font-weight: 700 !important;
}

.blc-credit {
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 4px;
  padding: 4px 0px;
  color: #ffd700 !important;
  font-weight: 700 !important;
  background: #120848d9;
  width: 100%;
  text-align: center;
}
