.message-box.blc-hide-join {
  display: none !important;
}

.message-box.my-team .message-name,
.message-box.my-team .message {
  color: #16cae5 !important;
}

.message-box.other-team .message-name,
.message-box.other-team .message {
  color: #be1e37 !important;
}

.message-box.mine .message-name,
.message-box.mine .message {
  color: #c89b3c !important;
}

.message-name {
  font-weight: 700 !important;
}

.message-box.my-team .blc-system-name {
  color: #70abab !important;
}

.message-box.other-team .blc-system-name {
  color: #ab6f6e !important;
}

.message-box.mine .blc-system-name {
  color: #ae9b70 !important;
}

.blc-credit {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 2147483646 !important;
  margin: 4px 0px !important;
  padding: 4px 0px;
  color: #ffd700 !important;
  font-weight: 700 !important;
  background: #0e0638;
  width: 100% !important;
  text-align: center;
  box-sizing: border-box;
}

.blc-credit.blc-credit-hidden {
  display: none !important;
}
